.App {
  text-align: center;
}
.App-header {
  color: #282c34;
  text-align: left;
  padding-left: 2em;;
}
.App-body {
  background-color: #282c34;
  display: flex;
  min-height: 90vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
a{
  text-decoration: none;
  color: #fff;
}
h1{
  color:#282c34;
}
/* スレッド */
.Threads{
  text-align: left;
  padding: 0.5em;
}
.Thread-list{
  list-style: none;
  padding-left: 0;
  height: 15em;
  width: 20em;
  overflow: auto;
  padding: 0.5em;
}
.Thread{
  border-bottom: 1px solid #999999;
  padding: 0.5em 0;
}
.Create-Thread{
  text-align: center;
}
.App-link {
  color: #61dafb;
}
/* 投稿 */
.Posts{
  text-align: left;
  padding: 0.5em;
}
.Post-list{
  list-style: none;
  padding-left: 0;
  height: 15em;
  width: 20em;
  overflow: auto;
  padding: 0.5em;
}
.Post{
  border-bottom: 1px solid #999999;
  padding: 0.5em 0;
}
/* モーダル用 */
#overlay{
  /*　画面全体を覆う設定　*/
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}
#content{
  z-index:2;
  width:50%;
  padding: 1em;
  background:#fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
